@model Biblioteka.Models.Limit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Limit</h4>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.MaxDaysOfRental)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxDaysOfRental)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxAmountOfBooks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxAmountOfBooks)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
</p>
