@using Biblioteka.Models.Identity
@model IEnumerable<Biblioteka.Models.Identity.User>

@{
    ViewBag.Title = "Index";
}

<h2>All users</h2>

<p>
    @Html.ActionLink("Create new employee", "AddEmployee", null, new { @class = "redirect-button" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormattedRole)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "redirect-button" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "redirect-button" })
            </td>
        </tr>
    }

</table>
